 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <!-- <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div> -->
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-c-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>C, Python, MATLAB, Java, Verilog, PSpice</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <p>Git, GitHub, Sublime Text, LaTeX</p>
    </div>
</div>
